.about-container{
    border: 1px solid red;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    align-self: center;
    min-height: 75vh;
    padding: 10px;
    max-width: 75vw;
}

.about-h1{
    font-size: 35px;
}

.about-h2{
    font: 25px;
}

.adresse{
    border: 1px solid red;
    display: flex;
    flex-flow: column;
    width: 100%;
}

.adresse-frame{
    width: 100%;
    margin: 0;
    padding: 0;
}