.buy-button-container{
    display: flex;
    max-width: max-content;
}

.buy-button{
    text-decoration: none;
    background-color: var(--color-purple);
    color: var(--color-white);
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
}

.button:hover{
    color: var(--color-medium-light);
}

.show-more-button{
    text-decoration: none;
    font-size: 25px;
    background-color: var(--color-purple);
    color: var(--color-white);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
}

/* .show-more-button:hover{
    color: var(--color-medium-light);
} */