header{
    background-color: var(--color-very-dark); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    flex-flow: row wrap;
    padding: 1em;
    flex: 1;
}
  
.logo{
    width: 179px;
    height: 105px;
    flex-shrink: 0;
}

.header-menu{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
}

.highlight{
    text-decoration: underline;
}

.menubutton{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}

.searchimg{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

@media (max-width: 765px) {
    .header-menu{
        order: 1;
        flex-basis: 100%;
        justify-content: center;
    }

    .logo{
        width: 135px;
        height: 75px;
    }

    .menubutton{
        font-size: 15px;
    }

    .cart{
        width: 30px;
        height: 30px;
    }

    .profile{
        width: 30px;
        height: 30px;
    }
}