.buy-button-container{
    display: flex;
    max-width: max-content;
}

.buy-button{
    display: flex;
    text-decoration: none;
    background-color: var(--color-purple);
    color: var(--color-white);
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 6px;
}

.buy-button:hover{
    color: var(--color-medium-light);
}

.menubutton:hover{
    color: var(--color-medium-light);
  }

.menubutton{
    font-style: bold;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
  }

.show-more-button-container{

}

.show-more-butt{
    text-decoration: none;
}
