footer{
    background-color: var(--color-very-dark);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.footer-item{
    text-decoration: none;
    color: #fff;
    display: flex;
    padding: 10px 20px;
}